<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Angular Lab</title>
    <link href="stylesheet.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  </head>
  <body ng-controller="FormController as form">
  <div class="container">
    <h1>To Do Thine List</h1>
    <div class="inner-container">
      <span>
        <form ng-submit='form.addItem()'>
          <input type='text' ng-model='form.newItem' class="inputs" placeholder=" Add new list item"/>
          <button class="add-button">Add</button>
        </form>
      </span>
      <ol class="list-styles">
        <li ng-repeat = 'item in form.items | filter: form.search track by $index'>
          <span>{{item}}</span> <span ng-click='form.remove(item)' class='x-button'>X</span>
        </li>
      </ol>
        </br>
      <input type="text" ng-model="form.search" class="inputs" placeholder=" Search List items"/>
    </div>
  </div>

    <script src =https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js></script>
    <script src="index.js"></script>
    <script src="form-controller.js"></script>
  </body>
</html>
